*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
}
html,body{
    display: grid;
    height:100%;
    place-items: center;
    background: #000;
}
.wrapper{
    height:100px;
    width: 360px;
    background:linear-gradient(135deg,#61d9ee, rgb(207, 83, 191), #f13730);
    border-radius: 10px;
    cursor: dafault;
    animation: animate 1.5s linear infinite;
}
.wrapper .display,
.wrapper span{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.wrapper .display{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#1b1b1b;
    height: 200px;
    width: 360px;
    border-radius: 10px;
    z-index: 999;
    text-align: center;

}
#prompt{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
}
.wrapper .display #name
{
    letter-spacing: 2px;
    background:linear-gradient(135deg, #61d9ee, rgb(207, 83, 191), #f13730);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.wrapper .display #time{
    line-height: 85px;
    color: #fff;
    font-size:35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    background:linear-gradient(135deg, #61d9ee, rgb(207, 83, 191), #f13730);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg)
    }
}
.wrapper span{
    /* height: 100%;
    width: 100%; */
    height: 220px;
    width: 380px;
    background: inherit;
    border-radius: 10px;
}
.wrapper span:first-child{
    filter:blur(10px);
}
.wrapper span:last-child{
    filter:blur(20px);
}